@{
    ViewBag.Title = "Home";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../images/Home/imgad.png" />           
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src=".. /../images/Home/k.png"/>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../images/Home/phones.png"/>           
        </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev" role="button" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next" role="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>

<div class="section">

    <div class="container text-light">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Mobile Phones</h3>
                <p>This site is for those who want to change their phone and are undecided about their choice. The mobile phone market is constantly changing, that's why we offer you the latest products, both smartphones and classic phones. </p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> SmartWatch and Gadgets</h3>
                <p>Gadgets are always designed more unusually or ingeniously than other technological objects at the time of their invention, that's why we welcome you with the most sought after and used gadgets on the market.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Accessory</h3>
                <p>
                    You can find the widest range of accessories and components for mobile phones with us. Just take a look at our site and you will find what you are looking for without making any effort.
                </p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="home col-lg-12">
                <h2>NORTHWIND PHONE </h2>
                <p>Northwind Phone - one of the largest online stores with fully Romanian capital operating on the Romanian IT market</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container text-light" >

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Top brands</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">               
                     <img class="img-fluid" src="~/images/Home/AppleLogo.png" />
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">                                  
                    <img class="img-fluid" src="~/images/Home/Nokia.gif" />
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-fluid" src="~/images/Home/logo-sony.jpg" />   
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-fluid" src="~/images/Home/samsung.jpg" /> 
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-fluid" src="~/images/Home/huawei.jpg" /> 
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-fluid" src="~/images/Home/asus.png" />
                
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="home col-lg-6 col-md-6 col-sm-6">
                <h2>NORTHWIND PHONE offers you:</h2>
                <ul>
                    <li>Classic phones</li>
                    <li>Smartphones</li>
                    <li>Phone accessories</li>
                    <li>Gadgets</li>
                    <li>eBook Readers</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid" src="~/Images/Home/ebooks.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container text-light">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid" src="~/images/Home/footer_logo.png" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Terms of delivery:</h2>
                <ul>
                    <li>Delivery in 24 hours in Bucharest.</li>
                    <li>Delivery in 3 days in the country.</li>
                    <li>The transport fee is 20 lei. </li>
                    <li> For orders over 200 lei, transport is free. </li>
                    <li> Will be delivered on weekdays between 8:00 and 18:00. </ Li>
                    <li> Delivery during the weekend is made for a fee of 20 lei. </li>
                    <li> In case of return, the customer will pay the shipping fee. </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container text-light">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4> FAN COURIER: The company we chose to work with! </h4>
            <p> Everyone wants the ordered products to arrive safely and on time, that's why our company has decided to collaborate with the best in the field: FAN Courier which has been the market leader since 2006. </p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="https://www.fancourier.ro/">Fan Courier</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->